<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET Form</title>
</head>
<body>
    <h1>PUT Form</h1>
    <li><a href="http://127.0.0.1:5000/form_get">form_get</a></li>
    <li><a href="http://127.0.0.1:5000/form_post">form_post</a></li>
    <form id="getform" action="/api/hello" method="get">
        <label for="item">New Item:</label>
        <input type="text" id="item" name="item">
        <input type="submit" value="GET me">
    </form>
</body>
</html>